<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='/css/bootstrap.min.css' />
<!--for responsive feature -->
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<link rel='stylesheet' href='/css/bootstrap-responsive.css'>
<style>
body {
padding-top:30px;
}
</style>
</head>
<body>

<h2>Login</h2>

<div class="container">
  <form class="form-horizontal form-signin" method='POST' action='/login'>
    <div class="control-group"><label class="control-label res-clabel" for="login">Login</label>
    <div class="controls res-controll"><input name="login" type="text" /></div>
    </div>
    <div class="control-group"><label class="control-label res-clabel" for="password">Password</label>
    <div class="controls res-controll"><input id="password" type="password" name="password" /></div>
    </div>
    <button class="btn btn-primary res-btn-log" name="commit" type="submit" value="Login" data-loading-text="Loading...">Sign in</button>

</form>
  
</div>
</body>
</html>
